body,
#root {
    font-family: Manrope !important;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #000000, #222222);
}

#info {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    margin: 25px;
    padding: 25px;
    width: 15vw;

    color: whitesmoke;
    border-radius: 25px;
    background-color: rgba(50, 50, 50, 0.4);
    border: 1px solid #333333;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.blurredBox {
    color: whitesmoke;
    background-color: rgba(50, 50, 50, 0.4);
    border: 1px solid #333333;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.semi {
    opacity: 0.5;
    border: 2px solid #333333;
}

.fx {
    transition: all 0.1s ease-in;
}

*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    /* border-left: #818181 0.5px solid; */
}

*::-webkit-scrollbar-thumb {
    cursor: pointer;
    /* background-color: black; */
    background-color: white;
    border-radius: 0.5em;
    /* border-radius: 1em; */
    padding-left: 20px;

    border: 1px solid #333333;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    opacity: 1;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: lightgrey;
    opacity: 0.3;
}
